.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 2rem;
  box-sizing: border-box;
  margin: 2rem 0;
}

.product__upper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 4rem;
}

.product__image-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.product__image-subcont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 100%;
  overflow-x: auto;
}

.product__lower-cont a {
  text-decoration: none;
}

.product__image-main {
  width: 60%;
  height: 320px;
  margin: 2rem 0;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.product__image-main img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product__image {
  background: var(--color-tertiary);
  border-radius: 1.5rem;
  padding: 1rem;
  box-sizing: border-box;
  aspect-ratio: 1/1;
  width: 22%;
  cursor: pointer;
}

.product__image--selected {
  border: 3px solid;
  border-color: var(--color-secondary);
}

.product__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 2rem;
}

.product__type {
  font-family: inter;
  text-transform: uppercase;
  font-size: 1.4rem;
  text-align: left;
  color: var(--color-secondary);
}

.product__title {
  font-family: IBMPlexSans;
  font-size: 3.2rem;
  text-align: left;
  color: var(--color-text-primary);
  margin: 1rem 1rem 1rem 0;
  overflow-wrap: anywhere;
}

.product__price {
  font-family: inter;
  font-size: 2.5rem;
  font-weight: 500;
  text-align: left;
  color: var(--color-text-primary);
}

.product__description {
  font-family: inter;
  font-size: 1.6rem;
  text-align: left;
  color: var(--color-text-primary);
  margin: 0;
  max-width: 55rem;
}

.product__size-title {
  display: block;
  font-family: inter;
  font-size: 2.6rem;
  font-weight: 500;
  text-align: left;
  color: var(--color-text-primary);
  margin: 1rem 0;
}

.product__size-options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 1rem;
}

.product__size-options input {
  height: 1.8rem;
  width: 1.8rem;
  accent-color: var(--color-text-primary);
  margin: 0 0.5rem;
}

.product__size-desc {
  margin: 1rem 0;
  font-family: "inter";
  font-size: 1.8rem;
  color: var(--color-text-secondary);
}

.product__option {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.product__size-options label {
  font-family: inter;
  font-size: 1.8rem;
  text-align: left;
  color: var(--color-text-primary);
}

.product__action-btn {
  width: 100%;
  border-radius: 10rem;
}

.inquire-btn {
  background-color: var(--color-secondary);
  color: white;
  font-family: inter;
  font-size: 1.6rem;
  display: flex;
  width: 100%;
  height: 5rem;
  border: none;
  border-radius: 1.5rem;
  justify-content: flex-start;
  align-items: center;
  padding: 0 2rem;
  max-width: 38rem;
  margin: auto;
}

.inquire-btn__img {
  width: 3rem;
  height: 3rem;
}

.inquire-btn__text {
  width: 80%;
  font-size: 2rem;
}

.product__lower-title {
  font-family: amaticSC;
  font-size: 4rem;
  text-align: center;
}

.product__item-price {
  font-family: inter;
  font-size: 2.1rem;
  text-align: center;
  color: var(--color-text-primary);
}

.product__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.product__lower-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.product__item-img {
  width: 70%;
  height: 30rem;
  padding: 2rem;
  box-sizing: border-box;
  object-fit: contain;
}

.product__item-title {
  font-family: inter;
  font-size: 3.2rem;
  text-align: center;
  color: var(--color-text-primary);
}

.admin-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.product__main-desc {
  width: 100%;
}

.edit-icon {
  width: 35px;
}

@media screen and (min-width: 1024px) {
  .product__lower {
    width: 80%;
  }

  .product__upper {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .inquire-btn {
    margin: 0;
  }

  .product__lower-cont {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }

  .product__item {
    width: 100%;
  }

  .product__image-subcont {
    width: 70%;
  }

  .product__item-title {
    font-size: 2.7rem;
  }

  .product__item-price {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 1200px) {
  .product__info {
    gap: 3rem;
  }

  .product__image-main {
    width: 50%;
  }

  .product__image-subcont {
    width: 50%;
  }
  .product__image-main {
    width: 50%;
    margin: 4rem 0;
  }
}
