:root {
  --color-primary: #F04930;
  --color-secondary: #6AA69A;
  --color-tertiary: #F9C171;
  --color-text-primary: #3B2311;
  --color-text-secondary: #3E3937;
  --color-text-tertiary: #FFFFFF;
  --color-text-light: #777777;
  --color-background: #F7E9DA;
}

#root{
  overflow: hidden;
  position: relative;
}

html{
  font-size: 62.5%;
  background-color: var(--color-background);
}

@font-face {
  font-family: areYouSerious;
  src: url('../fonts/AreYouSerious-Regular.ttf');
}

@font-face{
  font-family: architectsDaughter;
  src: url('../fonts/ArchitectsDaughter-Regular.ttf');
}

@font-face{
  font-family: amaticSc;
  src: url('../fonts/AmaticSC-Bold.ttf');
}

@font-face{
  font-family: inter;
  src: url('../fonts/Inter-VariableFont_slnt\,wght.ttf');
}