.hero-section {
  display: flex;
  flex-direction: column;
  position: relative;
}

.hero-section__content {
  order: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-section__body {
  font-family: inter;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  color: var(--color-text-secondary);
  margin: 2rem 3rem 0 3rem;
  animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.hero-section__title {
  display: inline-block;
  font-family: amaticSc;
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: center;
  width: 24rem;
  color: var(--color-text-primary);
  animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.hero-section__image {
  order: 1;
  width: 100%;
  height: 29rem;
  object-fit: contain;
  animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.hero-section__roll {
  position: absolute;
  right: -15%;
  top: -19%;
  width: 11rem;
  animation: rotate-center 1s ease-in-out both;
}

.hero-section__brownie {
  display: none;
  position: absolute;
  width: 8rem;
  left: 40%;
  animation: scale-in-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  bottom: 0;
}

.hero-section__cookie {
  display: none;
  position: absolute;
  animation: scale-in-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@media screen and (min-width: 425px) {
  .hero-section__roll {
    width: 13rem;
    position: absolute;
    right: -12%;
    top: -22%;
  }
}

@media screen and (min-width: 577px) {
  .hero-section__roll {
    width: 14rem;
    position: absolute;
    right: -10%;
    top: -25%;
  }
}

@media screen and (min-width: 768px) {
  .hero-section {
    flex-direction: row;
    width: 90%;
    margin: auto;
  }

  .hero-section__content {
    order: 1;
    align-items: start;
    width: 100%;
  }

  .hero-section__body {
    font-size: 1.5rem;
    text-align: justify;
    color: var(--color-text-secondary);
    margin-left: 0;
  }

  .hero-section__title {
    font-size: 3.5rem;
    text-align: start;
  }

  .hero-section__image {
    order: 2;
  }

  .hero-section__body {
    animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation-delay: 300ms;
  }

  .hero-section__roll {
    width: 14rem;
    position: absolute;
    right: -14%;
    top: -44%;
  }

  .hero-section__brownie {
    display: inherit;
  }

  .hero-section__cookie {
    display: inherit;
    position: absolute;
    width: 7rem;
    left: 46%;
    top: 7%;
  }
}

@media screen and (min-width: 1024px) {
  .hero-section {
    height: 85vh;
    align-items: center;
  }
  .hero-section__title {
    font-size: 7rem;
    width: auto;
  }
  .hero-section__body {
    font-size: 1.8rem;
    margin-top: 3rem;
  }
  .hero-section__image {
    width: 60%;
    align-self: start;
    height: 100%;
  }
  .hero-section__content {
    width: 40%;
  }

  .hero-section__roll {
    width: 18rem;
    position: absolute;
    right: -13%;
    top: -26%;
  }

  .hero-section__brownie {
    width: 15rem;
    left: 28%;
    bottom: 0;
  }

  .hero-section__cookie {
    display: inherit;
    position: absolute;
    width: 10rem;
    left: 38%;
    top: 5%;
  }
}
