.story {
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding: 4rem;
  box-sizing: border-box;
}

.story__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.story__left-image {
  width: 100%;
  height: auto;
  border-radius: 3.8rem;
  object-fit: cover;
  transform: translateY(-50px);
  opacity: 0;
}

.story__right-part {
  width: 100%;
  position: relative;
}

.story__title {
  margin: 0;
  font-family: amaticSC;
  font-size: 3.5rem;
  color: var(--color-text-primary);
  text-align: center;
  margin-top: 2rem;
  transform: translateX(-50px);
  opacity: 0;
  -webkit-font-smoothing: antialiased;
}

.story__desc {
  font-family: inter;
  font-size: 1.5rem;
  text-align: center;
  color: var(--color-text-secondary);
  transform: translateX(50px);
  opacity: 0;
}

.story__bg {
  position: absolute;
  object-fit: none;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 8%;
  z-index: -1;
}

/* Animation */
.animate-story__image {
  transform: translateY(0);
  opacity: 1;
  transition: 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.animate-story__title {
  transform: translateX(0);
  opacity: 1;
  transition: 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.animate-story__desc {
  transform: translateX(0);
  opacity: 1;
  transition: 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}

@media screen and (min-width: 768px) {
  .story {
    flex-direction: row;
  }
  .story__content {
    padding-left: 2rem;
  }

  .story__left-image {
    width: 50%;
  }

  .story__right-part {
    width: 50%;
  }

  .story__title {
    transform: translateX(50px);
    font-size: 5rem;
    text-align: start;
    margin-top: 0;
  }

  .story__desc {
    font-size: 1.5rem;
    text-align: start;
  }

  .animate-story__image {
    transform: translateY(0);
    opacity: 1;
    transition: 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }

  .animate-story__title {
    transform: translateX(0);
    opacity: 1;
    transition: 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  .animate-story__desc {
    transform: translateX(0);
    opacity: 1;
    transition: 1s cubic-bezier(0.215, 0.61, 0.355, 1) 300ms;
  }
}

@media screen and (min-width: 1024px) {
  .story {
    flex-direction: row;
    padding: 4rem;
  }
  .story > a {
    flex: 1;
  }

  .story__right-part {
    flex: 1;
  }

  .story__content {
    padding-left: 4rem;
  }

  .story__title {
    font-size: 6rem;
  }

  .story__desc {
    font-size: 1.8rem;
  }

  .story__bg {
    object-fit: cover;
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 1200px) {
  .story {
    height: 100vh;
    flex-direction: row;
    padding: 7rem;
  }
  .story__content {
    padding-left: 6rem;
  }

  .story__title {
    font-size: 7rem;
  }

  .story__desc {
    font-size: 2rem;
  }
}
